
*{
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Mr Dafoe', cursive; */
    margin: 0;
}


.fixed{
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
}

.container{
    margin: 20vh 80px;

}

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-inline-start: 7vw;
    margin-inline-end: 7vw;
    margin-block-end: 1.5rem;
}

.brand{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.brand>img{
    width: 35%;
    margin-inline-end: 5px;
}

.links{
    justify-content: space-evenly
}

nav ul{
    display: inline-flex;
    justify-content: space-around;
    list-style-type: none;
    font-size: 30px;
}

ul{
    list-style-type: square;
}

li a:hover{
    color: #e3d90a;
}

ul>li>a{
    color: rgb(200, 201, 194);
    text-decoration: none;
}

nav .brand{
    color: rgb(12, 112, 116);
    /* letter-spacing: 0.3rem; */
    font-size: 1.5rem;
}

.nav-2{
    display: none;
}

.nav-2 ul{
    list-style-type: none;
    margin-block-end: 5px;
}

ul li{
    padding: 4px 15px 0 15px;
}

.close, .jumbotron{
    display: none;
    margin-block-end: 10px;
    margin-inline-start: 7vw;
}

.images{
    display: flex;
    justify-content: center;
    align-items: center;
}

.images img{
    padding: 10px;
    width: 25vw;
    height: auto;
    border-radius: 60%;
}

#school_id{
    color: rgba(32, 168, 168, 0.932);
    font-size: 1.2rem;
}

.desc{
    display: flex;
    flex-direction: column;
}

.desc h2,h3,p{
    margin: 3px 3vw;
}

.content{
    max-width: 800px;
}

.card p{
    /* line-height: 1rem; */
    margin: 0 0;
    animation-name: example;
    animation-duration: 3s;
    animation-iteration-count: 3;
}

.blog{
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin-top: 50px;
}

.title{
    display: flex;
    font-size: 2em;
    transition: width 5s;
    color: rgb(173, 190, 13);
}

.graphics{
    margin-block-start: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.graphics img{
    width: 200px;
    height: auto;
    margin-block-start: 20px;
}

.card>.carousel{
    display: none;
}

.footer{
    padding: 20px;
    background-color: #111111;
    color: white;
}

@media(max-width: 1000px){

    .container{
        margin-left: 6%;
        margin-right: 6%;
    }
    
    .blog{
        display: block;
    }

    .title{
        margin-bottom: 20px;
    }

    nav .brand, .links ul{
        font-size: 1rem;
    }

}


@media(max-width: 500px){

    *{
        font-size: 0.9rem;
    }

    .links{
        display: none;
    }

    .jumbotron{
        display: block;
        width: 50px;
    }

    .jumbotron ul{
        list-style-type: none;
    }

    .jumbotron ul li{
        padding: 3px 15px;
        margin-top: 2px;
        background-color: #d7bdd8;
    }

    .graphics{
        display: none;
    }

    .card .carousel{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        /* height: fit-content; */
        margin-block-start:100px ;
    }
    
    .carousel>.img{
        padding: 1%;
        /* background-color: #111111; */
        box-shadow: #d7bdd8 1px 1px 1px 1px;
    }
    
    
    .increment, .decrement{
        width: 6%;
    }

    .click{
        margin-block-start: 20px;
        margin-inline-start: 20px;
        width: 7px;
        height: 7px;
        border-top: #111111 solid 4px;
        border-right: #111111 solid 4px;
        rotate: 45deg;
    }

    .unclick{
        margin-block-start: 20px;
        margin-inline-start: 20px;
        width: 7px;
        height: 7px;
        border-top: #111111 solid 4px;
        border-right: #111111 solid 4px;
        rotate: 135deg;
        display: none;
    }

}